# AWS
AWS_REGION=ap-northeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Public APIs
NEWSAPI_KEY=
OPENWEATHERMAP_KEY=
ALPHA_VANTAGE_KEY=
NASA_API_KEY=

# NFT (後半で使用)
PINATA_API_KEY=
PINATA_SECRET_KEY=
ETH_PRIVATE_KEY=
